.banner {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

main {
    height: 100vh;
}
.warrapMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    img {
        width: 48px;
        height: 48px;
        &:hover {
            cursor: pointer;
            background-color: #6c6c6c38;
            border-radius: 99%;
        }
    }
}
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.warrapTitle {
    color: #ffffff;
    width: 600px;
    height: 340px;
    margin: 0 25px;
    h1 {
        font-weight: 700;
        font-size: 4rem;
        line-height: 110.2%;
        text-shadow: 5px 5px 1px black;
    }
    p {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 27px;
        margin-top: 16px;
        margin-bottom: 32px;
        text-shadow: 2px 2px 1px black;
    }
    button {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        color: #ffffff;

        gap: 8px;

        width: 320px;
        height: 52px;

        background: #00aeff;
        border-radius: 4px;
        border-color: #00aeff;
        transition: 0.3s ease-in-out;
        &:hover {
            scale: 90%;
            cursor: pointer;
        }
    }
}
.logo {
    > img {
        width: 100%;
        height: 100%;
    }
}
.trailer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    p {
        font-weight: 600;
        font-size: 0.81rem;
        line-height: 20px;
        text-transform: uppercase;

        color: #ffffff;
        margin-bottom: 15px;
    }
    > img {
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
        max-width: 280px;
        max-height: 158px;
    }
}

@media (max-width: 1080px) {
    .warrapTitle {
        margin-top: 20px;

        h1 {
            font-size: 3rem;
        }
    }
}
@media (max-width: 890px) {
    .left {
        position: absolute;
        bottom: 5%;
        flex-direction: row;
    }
    .right {
        display: flex;
        gap: 325px;
        right: 40px;
        flex-direction: column;
        p {
            display: none;
        }
    }
}
@media (max-width: 650px) {
    .warrapTitle {
        width: 90%;
    }
}
@media (max-width: 690px) {
    .warrapMain {
        justify-content: center;
    }
    .right {
        display: none;
    }
}

@media (max-width: 375px) {
    .left {
        bottom: 5%;
        right: 15%;
        gap: 5px;
    }

    .warrapTitle {
        width: 90%;
        margin-bottom: 110px;
        h1 {
            font-size: 2rem;
            padding-top: 150px;
        }
        button {
            width: 280px;
        }
    }
}
